// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// icon
.iconify{
    font-size: 2rem
}
// ./icon

// modal
[x-cloak] {
    display: none !important;
}
.modal-alpine{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 25;
    overflow-y: auto;
}
.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: black;
    opacity: 0.75;
    z-index: 10;

}
// ./modal

// session
.session{
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 30;
    overflow-x: hidden;
    overflow-y: auto;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
// ./session
